<div class="banner">
  <div class="banner-element">
    <div class="titre">
      <h1>Find Your Buddy</h1>
      <h2>Organise en 3 cliques ton activité sportive de la semaine</h2>
      <p>Envie de jouer à ton sport préféré, mais il te manque des coéquipers? Find Your Buddy te permet très facilement et rapidement de trouver des personnes pour pratiquer avec toi </p>
    </div>
    <div class="form-recherche-activity" style=" background-color: rgba(33, 104, 105, 0.2); border-radius: 10px; padding: 8px;">
      <h2>Trouve ton activité</h2>
      <%= simple_form_for :search, url:activities_path, method:'GET' do |f| %>
        <%= f.input :sport_ou_lieu_ou_category, label:false, placeholder: 'squash, Bordeaux', input_html: {value: ""} %>
        <div class="level-date-inline">
          <%= f.input :level, label:false , collection: Activity::LEVEL, prompt: 'Niveau',class:'level_form' %>
          <div class="space"></div>
          <%= f.input :date, label:false, placeholder:'Date',input_html: { class: "datepicker"} %>
        </div>
        <%= f.submit "Search", class: "button-primary" %>
      <% end %>
    </div>
  </div>
</div>

<!-- mettre en modal sign_in up -->

